body {
  font-family: Roboto, Raleway, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.contacts a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
}

.contacts a:hover,
.contacts a:focus {
  color: #404bbf;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
}

.address a {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.address a:hover,
.address a:focus {
  color: #404bbf;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}

.logo-part {
  color: #4d5ae5;
}

.section-hero {
  background-color: #2e2f42;
}

.main-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team {
  background-color: #f4f4fd;
}

.team {
  background-color: #ffffff;
}

.team-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}

.footer a {
  color: #f4f4fd;
}

.footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
