body {
  font-family: Roboto, Raleway, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.contacts a:hover {
  color: #4d5ae5;
}

.contacts a:focus {
  color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
}

.address a {
  font-style: normal;
  line-height: 1.5;
  color: #434455;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
}

.logo-part {
  color: #4d5ae5;
}

.contacts a {
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}

.section-hero {
  background-color: #2e2f42;
}

.main-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 36px;
  color: #2e2f42;
}

.text-feature h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}

.text-feature p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team {
  background-color: #f4f4fd;
}

.team {
  background-color: #ffffff;
}

.text-team h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}

.text-team p {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-portfolio h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}

.text-portfolio p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer,
.footer a {
  color: #f4f4fd;
  background-color: #2e2f42;
}
